@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');

body
{
    background-color: #f3f3f3;
    font-family: 'Sen', sans-serif;
}

/* ****** header**** */
.entete
{
    background-color: #CE0033;
}
header nav div a
{
    text-decoration: none;
    width: 196px;
    height: 24px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: white;
}


/* ******** mian******* */
.recherche
{
    width: 554px;
    height: 56px;
    background: #FFFFFF;
    border: 1px solid rgba(216, 216, 216, 0.69);
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(176, 176, 176, 0.25);
    border-radius: 11px;
    background-image: url(../img/loup.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 15px;
    padding-left: 70px;
}
@media screen and (max-width:990px) {
    .recherche
    {
        width: 354px;
        height: 56px;
        background: #FFFFFF;
        border: 1px solid rgba(216, 216, 216, 0.69);
        box-sizing: border-box;
        box-shadow: 0px 0px 4px rgba(176, 176, 176, 0.25);
        border-radius: 11px;
        background-image: url(../img/loup.png);
        background-repeat: no-repeat;
        background-position: left;
        background-position-x: 15px;
        padding-left: 70px;
    }  
}
.filtre
{
    width: 232px;
    height: 56px;
    background: #FFFFFF;
    border: 1px solid rgba(216, 216, 216, 0.69);
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(176, 176, 176, 0.25);
    border-radius: 11px;
    padding: 14px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
}
.filtre:hover
{
    background: #CE0033;
    border: 1px solid rgba(216, 216, 216, 0.69);
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(176, 176, 176, 0.25);
    color: white;
}
.ajout-tache
{
    background: #CE0033;
    border: 1px solid rgba(216, 216, 216, 0.69);
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(176, 176, 176, 0.25);
    border-radius: 11px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    width: 232px;
    height: 56px;
}
.ajout-tache:hover
{
    background: #700000;
    border: 1px solid rgba(216, 216, 216, 0.69);
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(176, 176, 176, 0.25);
    color: white;
}
.ligne
{
    width: 85%;
    height: 0px;
    border: 1px solid #DEDEDE;
}
.resumer
{
    width: 100%;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid rgba(216, 216, 216, 0.69);
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(176, 176, 176, 0.25);
}
.nbr-resumer
{
    width: 95px;
    height: 24px;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.titre-resumer
{
    width: 115px;
    height: 24px;
    font-family: Sen;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.color-priorite
{
    width: 50px;
    height: 24px;
    background: #CE0033;
    border-radius: 5px;
}
.date-tache
{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}
.titre-tache
{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}
.etat-tache
{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #555555;
}
.description-tache
{
    background: #FFFFFF;
    border: 1px solid rgba(216, 216, 216, 0.69);
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(176, 176, 176, 0.25);
    border-radius: 5px;
    width: 100%;
}
.tache-terminer
{
    background: rgba(255, 255, 255, 0.29);
    border: 1px solid #00BD62;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(176, 176, 176, 0.25);
    border-radius: 5px;
    color: #00BD62;
}
.tache-supprimer
{
    background: rgba(255, 255, 255, 0.22);
    border: 1px solid rgba(206, 0, 51, 0.92);
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(176, 176, 176, 0.25);
    border-radius: 5px;
}
.espace-carte
{
    padding: 30px;
}
.tache
{
    background: #FFFFFF;
    border: 1px solid rgba(216, 216, 216, 0.69);
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(176, 176, 176, 0.25);
    border-radius: 10px;
    width: 35%;
    padding: 30px;
}
@media screen and (max-width:990px) {
    .tache
    {
        background: #FFFFFF;
        border: 1px solid rgba(216, 216, 216, 0.69);
        box-sizing: border-box;
        box-shadow: 0px 0px 4px rgba(176, 176, 176, 0.25);
        border-radius: 10px;
        width: 100%;
        padding: 30px;
    } 
}
#shadow input{
    box-sizing: border-box;
    box-shadow: 4px 4px 26px 1px rgba(113, 121, 120, 0.171);
}